/* ----- nav bar for all pages ----- */
/* define navbar block */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    background: white;
    padding: 2em 0;
}

/* remove bullets, margin, padding, and text align */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 5px;
}

/* display list items horizontally */
.navbar li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

/* define block styling for the links */
.navbar a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: black;
}

/* hover effect color */
nav a:hover {
    color: black;
}

/* bar effect under each link */
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    top: 35px;
    background-color: black;
    position: absolute;
    transition: all ease-in-out 300ms;
}

/* bar effect without hover */
nav a:hover::before {
    width: 100%;
}

/* ----- header for all pages - texts varies depending on page ----- */
/* format header */
.header {
    position: relative;
    padding: .5em;
    height: 675px;
    padding-top: 40px;
    margin: 0;
    background: black;
    background-image: url("../images/anton-darius-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* center header and add padding */
.header h1 {
    text-align: center;
    padding-top: 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: white;
    animation: title 1.5s forwards linear;
}

.header h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
    animation: subtitle 1.5s forwards linear;
}

/* ----- formatting for the footer on each page ----- */
.footer {
    margin: 0;
    height: 100px;
    background: black;
    background-image: url("../images/anton-darius-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.footer h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

/* hover effect color */
footer a:hover {
    opacity:1.0;
    color: rgb(83, 134, 90)
}

/* keyframe animations used to animate the title */
@keyframes title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 7.5rem;
      opacity: 1;
    }
  }
  
  @keyframes subtitle {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

/* ----- formatting for home page content ----- */
.skillset-content {
    width: 60%;
    margin: 0 auto;
    position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.skillset-content h1 {
    text-align: left;
    font-size: 45px;
}

.skillset-content ul {
    list-style: none;
}

.skill-sections {
    margin-bottom: 30px;
} 

.skillset-content li {
    margin-bottom: 15px;
    font-size: 20px;
}

.section-title {
    text-align: left;
    align-self: start;
    top: 4em;
    position: sticky;
    top: 4em;
}

/* ----- formatting for about page content ----- */
.about-content {
    width: 60%;
    margin: 0 auto;
    position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* .contact-info {
    margin-top: 45px;
} */

.about-content h1 {
    text-align: left;
    font-size: 45px;
}

.about-content ul {
    list-style: none;
}

.about-content li {
    margin-top: 25px;
    font-size: 20px;
}

.contact-info a {
    text-decoration: none;
    color: black;
}

/* hover effect color */
.contact-info a:hover {
    opacity:1.0;
    color: rgb(66, 110, 72)
}

.contact-info {
    text-align: left;
    align-self: start;
    top: 6em;
    position: sticky;
    top: 6em;
}

/* ----- formatting for visualization page content ----- */
/* .slide-container {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
  
.image-container {
    width: 8000px;
    height: 1200px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}   

.slider-image {
    float: left;
    margin: 0;
    padding: 0;
}

.button-container {
    top: 20px;
    position: relative;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

/* inividual image targeting for slideshow */
#slider-image-1:target ~ .image-container {
    left: 0px;
}

#slider-image-2:target ~ .image-container {
    left: -800px;
}

#slider-image-3:target ~ .image-container {
    left: -1600px;
}

#slider-image-4:target ~ .image-container {
    left: -2400px;
} */